body {
    background-color:#fffdc0;
}

h4{
    border:#f7d683 dotted
     3px;
}
.Deuses {

background-color: blanchedalmond;
}
#cabecalho {
    background-color: aquamarine;
}
div p{
    color: indianred;
}